{% extends 'partials/base.html' %}
{% load static %}




{% block content %}
    
<!-- Jobs Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Post A New Job</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">


                    <h4 class="mb-4">Thanks For Helping Others</h4>
                    <form method="POST" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.title}}
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.job_location}}
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.job_type}} 
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.work_type}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.job_salary}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.image}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.job_description}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.responsibility}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.qualifications}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.about_company}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.company_name}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.company_link}}
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    {{form.job_category}}
                                </div>   
                            </div>


                            <div class="col-12">
                                <input type="submit" value="Post Now" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->

{% endblock content %}
